# Back
.idea
.vscode

# Node.js
node_modules/
npm-debug.log

# Docker Data Volumes (Local Persistence)
postgres_data/
jsreport_data/

# Generated Reports & Debug Files


# Environment Variables
.env

# System Files
.DS_Store
Thumbs.db
